<div class='ui basic content center aligned segment'>
  <span class='right floated edit icon ' v-on:click="showForm" v-show="!isCreating">add</span>
  <div class='ui centered card' v-show="isCreating">
    <todo-form v-bind:record="record" v-bind:isEditing="true" v-bind:isNew="true"></todo-form>
    <div class="extra content" v-bind:class="[{ completed: record.isCompleted }]">
      <span class="right floated icon " v-on:click="sendForm">create</span>
      <span class="right floated icon " v-on:click="hideForm">cancel</span>
    </div>
  </div>
</div>
