<div class="ui centered card">
    <todo-form
      v-bind:record="record"
      v-bind:isEditing="isEditing"
      v-bind:isNew="false"
      v-bind:class="[{ completed: record.isCompleted }]">
    </todo-form>
    <div class="extra content" v-bind:class="[{ completed: record.isCompleted }]">
      <button class="right floated edit icon " v-on:click="showForm" v-show="!isEditing">EDIT</button>
      <button class="right floated isCompleted icon " v-on:click="hideForm" v-show="isEditing">DONE</button>
      <button class="right floated delete icon " v-on:click="deleteRecord(record)">DELETE</button>
    </div>
    <div class="ui bottom attached green basic button" v-show="record.isCompleted" disabled  v-on:click="updateCompleted(record, false)">
        restart
    </div>
    <div class="ui bottom attached blue basic button" v-show="!record.isCompleted" v-on:click="updateCompleted(record, true)">
        complete
    </div>
</div>
